* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: royalblue;
}

.input_continare {
  width: 1170px;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 20px auto;
  background-color: white;
}

.input_continare label {
  margin-right: 20px;
  font-size: 22px;
  font-weight: bold;
}

.movies_container {
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  /* transition: all 0.4s ease-in-out; */
}

.movie_container {
  border: 1px solid black;
  text-align: center;
  transition: all 0.4s ease-in-out;
  margin: 10px;
}

.movies_container :hover {
  box-shadow: -1px 3px 10px 5px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  border: none;
}

.movie_image {
  height: 300px;
  width: 220px;
  background-image: url("../assets/Aquaman.jpg");
  background-size: cover;
}

.movie-title,
movie-year {
  margin: 10px;
}
